[submodule "implementations/tomlrb"]
	path = implementations/tomlrb
	url = https://github.com/fbernier/tomlrb
[submodule "implementations/toml-rb"]
	path = implementations/toml-rb
	url = https://github.com/emancu/toml-rb
[submodule "implementations/toml"]
	path = implementations/toml
	url = https://github.com/jm/toml
[submodule "implementations/toby"]
	path = implementations/toby
	url = https://github.com/joe-p/toby
[submodule "toml-test"]
	path = toml-test
	url = https://github.com/BurntSushi/toml-test
[submodule "implementations/custom/tomlrb"]
	path = implementations/custom/tomlrb
	url = https://github.com/gyfis/tomlrb
[submodule "implementations/perfect_toml"]
	path = implementations/perfect_toml
	url = https://github.com/mame/perfect_toml
